body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #fffaf6;
    color: #3d2b1f;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    background: #fff3e8;
}

.navbar a {
    margin-left: 20px;
    text-decoration: none;
    color: #3d2b1f;
}

.hero {
    text-align: center;
    padding: 70px 20px;
}

.hero span {
    color: #c9a24d;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 25px;
    background: #c46b7b;
    color: white;
    text-decoration: none;
    border-radius: 25px;
}

.products {
    padding: 40px 20px;
    text-align: center;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.product-card {
    background: white;
    padding: 15px;
    border-radius: 15px;
}
.product-card img {
    width: 100%;
    border-radius: 12px;
    height: 220px;
    object-fit: cover;
}
